<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Four Fabled - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">The Four Fabled</a>
            </div>
            <nav>
                <a href="/">Главная</a>
                <a href="/about.html">О игре</a>
                <a href="/contact.html">Контакт</a>
                <a href="/archive.html">Архив</a>
                <a href="/mods.html">Моды</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Сайт сделан на
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
